### Chargement des librarires nécessaires à l'exploitation des données :

In [12]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import numpy as np

### Chargement des bases de données liées aux lieux avec la méthode "read_csv" de pandas pour les années 2017 à 2021 :

In [13]:
df_lieux_2021 = pd.read_csv("data/lieux-2021.csv", sep=';')
df_lieux_2020 = pd.read_csv("data/lieux-2020.csv", sep=';')
df_lieux_2019 = pd.read_csv("data/lieux-2019.csv", sep=';')
df_lieux_2018 = pd.read_csv("data/lieux-2018.csv", sep=',', low_memory=False)
df_lieux_2017 = pd.read_csv("data/lieux-2017.csv", sep=',', low_memory=False)

In [14]:
df_lieux_2017

,Num_Acc,catr,voie,v1,v2,circ,nbv,pr,pr1,vosp,prof,plan,lartpc,larrout,surf,infra,situ,env1
0,201700000001,3,39,NaN,NaN,2.0,2.0,NaN,NaN,2.0,1.0,1.0,0.0,70.0,1.0,0.0,1.0,99.0
1,201700000002,3,39,NaN,NaN,2.0,2.0,NaN,NaN,0.0,1.0,0.0,6.0,10.0,1.0,NaN,NaN,NaN
2,201700000003,3,39,NaN,NaN,2.0,2.0,NaN,NaN,0.0,1.0,0.0,0.0,10.0,1.0,NaN,NaN,NaN
3,201700000004,3,39,NaN,D,2.0,2.0,NaN,NaN,0.0,1.0,0.0,0.0,10.0,1.0,NaN,NaN,NaN
4,201700000005,3,39,NaN,NaN,2.0,2.0,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60696,201700060697,2,NaN,2.0,NaN,2.0,2.0,4.0,936.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,99.0
60697,201700060698,2,NaN,NaN,NaN,2.0,2.0,NaN,NaN,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
60698,201700060699,2,2,2.0,NaN,2.0,2.0,4.0,820.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,99.0
60699,201700060700,2,1,2.0,NaN,2.0,2.0,2.0,890.0,0.0,2.0,1.0,0.0,0.0,1.0,0.0,1.0,99.0
60700,201700060701,2,2,2.0,NaN,2.0,2.0,3.0,980.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,99.0

### Ajouter une colonne 'année_accident' pour chaque dataframe :

In [15]:
df_lieux_2021 = df_lieux_2021.assign(annee_accident=2021)
df_lieux_2020 = df_lieux_2020.assign(annee_accident=2020)
df_lieux_2019 = df_lieux_2019.assign(annee_accident=2019)
df_lieux_2018 = df_lieux_2018.assign(annee_accident=2018)
df_lieux_2017 = df_lieux_2017.assign(annee_accident=2017)

### Utiliser la méthode concat afin de rassembler les cinq dataframes :

In [16]:
df = [df_lieux_2017, df_lieux_2018, df_lieux_2019, df_lieux_2020, df_lieux_2021]
lieux_2017_2021 = pd.concat(df)

In [17]:
lieux_2017_2021

,Num_Acc,catr,voie,v1,v2,circ,nbv,pr,pr1,vosp,prof,plan,lartpc,larrout,surf,infra,situ,env1,annee_accident,vma
0,201700000001,3,39,NaN,NaN,2.0,2.0,NaN,NaN,2.0,1.0,1.0,0.0,70.0,1.0,0.0,1.0,99.0,2017,NaN
1,201700000002,3,39,NaN,NaN,2.0,2.0,NaN,NaN,0.0,1.0,0.0,6.0,10.0,1.0,NaN,NaN,NaN,2017,NaN
2,201700000003,3,39,NaN,NaN,2.0,2.0,NaN,NaN,0.0,1.0,0.0,0.0,10.0,1.0,NaN,NaN,NaN,2017,NaN
3,201700000004,3,39,NaN,D,2.0,2.0,NaN,NaN,0.0,1.0,0.0,0.0,10.0,1.0,NaN,NaN,NaN,2017,NaN
4,201700000005,3,39,NaN,NaN,2.0,2.0,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,99.0,2017,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56513,202100056514,1,65,-1.0,NaN,3.0,4.0,0,454,0.0,2.0,3.0,NaN,-1,2.0,9.0,2.0,NaN,2021,130.0
56514,202100056515,3,520,0.0,D,2.0,2.0,46,2,0.0,1.0,1.0,NaN,-1,5.0,0.0,3.0,NaN,2021,80.0
56515,202100056516,3,538,-1.0,NaN,2.0,2.0,49,24,0.0,2.0,2.0,NaN,-1,2.0,0.0,1.0,NaN,2021,80.0
56516,202100056517,4,NaN,-1.0,NaN,2.0,2.0,(1),(1),0.0,1.0,2.0,NaN,-1,2.0,5.0,3.0,NaN,2021,80.0
56517,202100056518,3,129,0.0,NaN,2.0,2.0,2,290,0.0,1.0,1.0,NaN,-1,2.0,0.0,1.0,NaN,2021,70.0